.layout-container {
  height: 100vh;
}

.sidenav {
  width: 220px;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 24px;
}

.layout-container {
  height: 100vh;
}

.conteudo {
  padding: 24px;
}